:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-color: green;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 0;

  h2 {
    font-size: 6rem;
    color: #fff;

    &.headline {
      padding-bottom: 2rem;
      border-bottom: 1px solid #fff;
      margin-bottom: 2rem;
    }
  }

  h3 {
    font-size: 2.6rem;
    margin-top: 2rem;
  }

  p.header-text {
    width: 75%;
    font-size: 1.4rem;
    line-height: 200%;
    margin-bottom: 2rem;
    text-align: center;
  }

  article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    div {
      text-align: center;
      border-right: 1px solid #fff;

      &:last-child {
        border: none;
      }

      p {
        font-size: 1.4rem;
        font-weight: 800;
      }
    }
  }
}
